body
  p Hi, #{toUser.name}!
  p.
    Just letting you know that #{fromUser.name} has sent you a videogram.
  p
    a(href=url) Log in to Living Connections to see your videogram and reply.
  p Best regards,
  p Your friends at Living Connections
